<% provide :title, t('views.application.edit', resource: @adonis.hostname) %>

<article>
  <h1><%= t 'views.application.edit', resource: @adonis.hostname %></h1>
  <%= render 'adonis/form', adonis: @adonis %>
</article>
