<% provide :title, t('views.application.edit', resource: @model.name) %>

<article>
  <h1><%= t 'views.application.edit', resource: @model.name %></h1>
  <%= render 'models/form', model: @model %>
</article>
