<% provide :title, t('views.application.create', resource: 'status') %>

<article>
  <h1><%= t 'views.application.create', resource: 'status' %></h1>
  <%= render partial: 'statuses/form' %>
</article>
