<% provide :title, t('views.application.create', resource: t('models.adonis.location')) %>

<article>
  <h1><%= t 'views.application.create', resource: t('models.adonis.location') %></h1>
  <%= render 'locations/form' %>
</article>
